
.banner img{
    /* background-image: url('../../image/bannerbackground.png'); */
    height: 600px;
    width: 100%;
    
    
    text-align: center;
    
}
.banner-item{
    position: absolute;
    top: 200px;
    left: 350px;
    font-size:30px;
   
}
.search{
    margin-top: 20px;
    display: flex;
    float: right;
}
.search input{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    /* margin-right: 5px; */
    /* font-size: large; */
}
/* .regular-button{

} */

.search button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    

    
}


.toggle-link{
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: black;
    margin-right: 1rem;
}
.toggle-link:hover{
    color: red;
}

/* .regular-button{
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(207, 20, 20);
    color: white;
    font-size: medium;
    font-weight: lighter;
    margin-top: 5px;
    
} */

@media screen and (max-width:640px) {
  .banner-item{
    position: absolute;
    top: 30%;
    left: 10%;
    
   
}  
.banner-item h1{
    position: relative;
    left: 30%;
    font-size:20px;
}
.search input{
    width: 15rem;
    /* margin-right: 5px; */
    position: relative;
    left: 35%;
    /* z-index: -1; */
    /* font-size: large; */
}
.search button{
    position: relative;
    top: 30%;
    left: 35%;
    

    
}
}

@media (min-width: 30em) and (max-width: 80em) {

    .banner-item{
        position: absolute;
        top: 30%;
        left: 10%;
        
       
    }  
    .banner-item h1{
        position: relative;
        left: 60%;
        font-size:25px;
    }
    .search input{
        width: 15rem;
        position: relative;
        left: 60%;
        
    }
    .search button{
        position: relative;
        top: 30%;
        left: 65%;
        
    
        
    }
    
}